<div class="subtittle">
  Borradores
</div>
<input
  type='text'
  style='padding:8px;margin:15px auto;width:30%;'
  placeholder='¿A quién le enviaste el mensaje?'
  (keyup)='updateFilter($event)'
/>
<ngx-datatable
#draft
  class="material"
 [columnMode]="'force'"
 [headerHeight]="0"
 [footerHeight]="50"
 [rowHeight]="40"
 [scrollbarH]="true"
 [rows]="rows"
 [limit]="10"
 [selected]="selected"

 (select)='onSelect($event)'>
    
        <ngx-datatable-column name="urgent" [width]="30" [canAutoResize]="false">
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div *ngIf="value;">
                <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red;"></i>
              </div>
            </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column name="recipient" [width]="80"></ngx-datatable-column>
        <ngx-datatable-column prop="attachment"[width]="30" [canAutoResize]="false">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <div *ngIf="value.url;">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
            </div>
          </ng-template>
    </ngx-datatable-column>
        <ngx-datatable-column name="subject" [width]="200">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div (click)="getDraft(row.id)" class="btn-subject">
              {{value}}
          </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="message_body" [width]="300"></ngx-datatable-column>
        <ngx-datatable-column prop="created_at">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div *ngIf="(value|date) != (today|date);else other" >
            {{value|date:'d MMM'}}
          </div>
          <ng-template #other>
            <div> {{value| date: 'shortTime'}} </div>
          </ng-template>
        </ng-template>
      </ngx-datatable-column>
</ngx-datatable>
<!--
<div class='selected-column'>
      <h4>Selections <small>({{selected?.length}})</small></h4>
      <ul>
        <li *ngFor='let sel of selected'>
          {{sel.subject}}
        </li>
        <li *ngIf="!selected?.length">No Selections</li>
      </ul>
    </div>
-->
