<!-- compose -->
<div class="container">

  <div class="compose col-md-6 col-xs-12" [style.display]="showFormMail()">
    <div class="compose-header">
      Nuevo Mensaje
      <button type="button" class="close compose-close" (click)="changeForm(false)">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
      </button>
    </div>
    <mat-form-field>
    <mat-chip-list #chipList>
<mat-chip *ngFor="let recipient of recipients" [selectable]="selectable"
       [removable]="removable" (remove)="remove(recipient)">
       {{recipient.username}}
       <i matChipRemove *ngIf="removable" class="fa fa-times-circle-o" aria-hidden="true"></i>
</mat-chip>
<input placeholder="Para"
     [matChipInputFor]="chipList"
     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
     [matChipInputAddOnBlur]="addOnBlur"
     (matChipInputTokenEnd)="add($event)"

     />
</mat-chip-list>
</mat-form-field>
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      <div class="compose-body">
        <div class="form-compose">

          <input placeholder="Asunto" type="text" name="subject" formControlName="subject" class="form-control">
    <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled"
              formControlName="urgent"
              >
              ¿Es urgente?
            </mat-slide-toggle>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled"
            formControlName="draft"
            >
            ¿Borrador?
          </mat-slide-toggle>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
        <owl-date-time [showHeader]="true" [inputId]="'sent_date'" formControlName="sent_date" [locale]="es">
          <div class="calendar-btn ">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
          </div>
        </owl-date-time>
      </mat-grid-tile>
          </mat-grid-list>
            <br />
      <textarea class="bodymessage "[froalaEditor]='options' formControlName="message_body"></textarea>
    </div>
  </div>

  <div class="compose-footer">
    <input  type="submit" class="btn btn-lg btn-success" value="Enviar" [disabled]="!rForm.valid">
  </div>
</form>

</div>
</div>
    <!-- /compose -->
