<!-- compose -->
<div class="container">

  <div class="compose col-md-6 col-xs-12" [style.display]="showFormMail()">
    <div class="compose-header">
      Mensaje nuevo
      <button type="button" class="close compose-close" (click)="changeForm(false)">
        <span>×</span>
      </button>
    </div>
    <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
      <div class="compose-body">
        <div class="form-compose">
          <label for="to" >Para: </label>
          <input type="text" name="recipient" formControlName="recipient" class="form-control">
          <label for="subject" >Asunto: </label>
          <input type="text" name="subject" formControlName="subject" class="form-control">

            <section class="example-section">
              <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled"
              formControlName="urgent"
              >
              ¿Es urgente?
            </mat-slide-toggle>
          </section>
          <section class="example-section">
            <mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled"
            formControlName="draft"
            >
            ¿Borrador?
          </mat-slide-toggle>
        </section>
        <owl-date-time [showHeader]="true" [inputId]="'sent_date'" formControlName="sent_date" [locale]="es">
          <div class="calendar-btn">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
          </div>
        </owl-date-time>

      <textarea [froalaEditor]='options' formControlName="message_body"></textarea>
    </div>
  </div>

  <div class="compose-footer">
    <input  type="submit" class="btn btn-sm btn-primary" value="Enviar" [disabled]="!rForm.valid">
  </div>
</form>
</div>
</div>
    <!-- /compose -->
