<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <i class="fa fa-user-circle" aria-hidden="true" style="font-size:30px;"></i>
       </div>
    <mat-card-title>
      <ng-template>
        <div *ngIf="mail.urgent;">
          <i class="fa fa-exclamation-circle" aria-hidden="true" style="color:red;"></i>
        </div>
      </ng-template>
      <strong> Asunto: </strong>{{mail.subject}}
    </mat-card-title>
    <mat-card-subtitle>
      <div>
        <strong>De: </strong>{{mail.sender}}
      </div>
      <div>
        <strong>Para: </strong>{{mail.recipient}}
      </div>
      <div>
        <strong>Fecha: </strong>{{mail.created_at|date: 'medium'}}
      </div>
      <div>
        <strong>Fecha de envío: </strong>{{mail.sent_date|date: 'medium'}}
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div innerHtml="{{mail.message_body}}"></div>
  </mat-card-content>
  <mat-card-actions>
    <a class="btn btn-default" (click)="volver()" aria-label="Volver">
      <i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i>
    </a>
  <a class="btn btn-danger" (click)="deleteDraft(mail.id)" aria-label="Borrar">
    <i class="fa fa-trash-o fa-2x" aria-hidden="true" style="color:white"></i>
  </a>
</mat-card-actions>
</mat-card>
